[user]
	name = Nikolaus Demmel
	email = nikolaus@nikolaus-demmel.de
[core]
	excludesfile = ~/.gitexclude
[color]
	ui = true
[credential "svncvpr.informatik.tu-muenchen.de/git/"]
	username = demmeln
[credential]
	helper = cache --timeout=3600
