.ICEauthority
.Xauthority
.aptitude/
.bash_history
.bash_logout
.bashrc
.cache/
.compiz-1/
.config/
.dbus/
.dmrc
.emacs.d/
.esd_auth
.fontconfig/
.gazebo/
.gconf/
.gconfd/
.gksu.lock
.gnome2/
.goutputstream-30CRNW
.goutputstream-6CSLNW
.goutputstream-8D68OW
.goutputstream-9LMYNW
.goutputstream-YIM6NW
.gstreamer-0.10/
.gtk-bookmarks
.homeconfig.git/
.ido.last
.lesshst
.local/
.matplotlib/
.mission-control/
.mozilla/
.nv/
.pip/
.profile
.pulse-cookie
.pulse/
.remmina/
.ros/
.rviz/
.ssh/
.subversion/
.sudo_as_admin_successful
.thumbnails/
.turtlebot_dashboard
.viminfo
.xsession-errors
.xsession-errors.old
Desktop/
Downloads/
local/
work/
.VirtualBox/
.macromedia/
.nvidia-settings-rc
.thunderbird/
.vim/
Pictures/
VirtualBox VMs/
eclipse-workspace/
Ubuntu One/
catkin_ws/
